<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PaheScrapper.Properties.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <PaheScrapper.Properties.Configuration>
            <setting name="ManagerStateFilename" serializeAs="String">
                <value>manager_dump.json</value>
            </setting>
            <setting name="WebDriveRetryLimit" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WebDriveTaskTimeout" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="WebDriveHeadless" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WebDriveInstances" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="HTMLSaveStateThershold" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WebDriveSaveStateThershold" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WebDriveRestartOnError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HtmlRetryLimit" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WebDriveRetryMaxLimit" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HtmlRetryMaxLimit" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FailsafeStateThershold" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="OutputScrapeFilename" serializeAs="String">
                <value>output.json</value>
            </setting>
        </PaheScrapper.Properties.Configuration>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
