<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net45" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.11.42" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="Selenium.Support" version="4.1.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="4.1.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="103.0.5060.13400" targetFramework="net45" />
  <package id="Selenium.WebDriverBackedSelenium" version="4.1.0" targetFramework="net45" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net45" />
  <package id="System.Memory" version="4.5.4" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net45" />
</packages>