<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlexP.Selenium.Chrome.WebDriver" version="77.0.3865.40" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.11.15" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriverBackedSelenium" version="3.141.0" targetFramework="net472" />
</packages>